@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
.body {
  font-family: 'Noto Sans JP', Helvetica, sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}
.container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 70%;
  margin: 5px;
  border-radius: 5px;
}

.icon {
  margin: 60px auto;
  content: url("icon_cat.png")
}

.loader {
  display: flex;
  flex-direction: column;
}

.loader p {
  text-align: center;
}
#loadingImage {
  margin: auto;
  position: relative;
}

@media screen and (min-width: 414px) {
  #loadingImage {
    width: 40%;
  } 
}