@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.body {
  font-family: 'Noto Sans JP', Helvetica, sans-serif;
}



.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}

li img {
  max-width: 50%;
}

li:nth-child(odd) {
  flex-direction: row-reverse;
}

img {
  max-width: 70%;
  margin: 5px;
  border-radius: 5px;
}

.icon {
  margin: 60px auto;
  content: url("icon_cat.png")
}

.header {
  background-color: gold;
  border: solid 5px darkgoldenrod;
  color: #555;
  margin: 0px;
  height: 7rem;
  padding: 5px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-feature-settings: "swsh";
  font-family: 'Great Vibes', cursive;
}

.loader {
  display: flex;
  flex-direction: column;
  font-feature-settings: "swsh";
  font-family: 'Great Vibes', cursive;
}

.loader img {
  width: 40%;
}

.loader p {
  text-align: center;
}
#loadingImage {
  margin: auto;
  position: relative;
  width: 40%;
}

@media screen and (min-width: 414px) {
  #loadingImage {
    width: 40%;
  } 
}